    <!--https://getbootstrap.com/docs/4.0/components/navbar/-->
    {% set header_element = [] %}
    {% set header_element_href = [] %}
    {% set role = session["role"] %}
    {%if role == 'Admin'%}
        {% set header_element = ['Add Book','List User','Change Local Date'] %}
        {% set header_element_href = ['/addbook',"/listuser",'/changelocaldate'] %}
    {%else%}
        {% set header_element = ['Search Book','Rent Book','Deliver Books'] %}
        {% set header_element_href = ['/searchbook','/rentbook','/deliverbooks'] %}
    {%endif%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto left">
                <li class="nav-item active">
                <a class="nav-link" style="font-weight: bold;" href="/index">KOU ONLİNE LİBRARY</a>
                </li>
                {% for element in header_element %}
                    <li class="nav-item">
                        <a class="nav-link " style="font-weight: bold;" href="{{header_element_href[loop.index-1]}}">{{element}}</a>
                    </li>
                {% else %}
                    <em>No element here</em>
                {% endfor %}

            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold;" href="{{ url_for('Logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>