{%extends 'base.html'%}

{%block content%}
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-4">
            <img id="clock" src="../static/img/basic_clock.png" alt="clock" width="60%">
        </div>
        <div class="col-8">
            {% from "includes/_formhelpers.html" import render_field %}
            <form method=post>
                    {% for field in form %}
                    <div class="form-group">
                        {{ render_field(field) }}
                    </div>
                    {% endfor %}
            </form>
        </div>
    </div>
</div>
{%endblock%}