<!DOCTYPE html>
<html lang="US">
<head>
	<meta charset="UTF-8">
	<title>Yönetici Paneli</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/custom.css" />

</head>
<body>
<!--HEADER-->
<div class="header">
<h1>Yönetici Paneli</h1>

</div>
<div class="topnav">
<a href="index.html">Kitap Ekle</a>
<a href="zaman.html">Zaman Atlama</a>
<a href="listele.html">Kitap Listeleme</a>
</div>
<!--MAIN-->
<div class="listelemain">

</div>
<!--FOOTER-->
<div class="footer">
  <p>@kütüphaneuygulaması</p>
</div>

</body>
</html>